<app-navbar></app-navbar>
<br>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
    </ol>
  </nav>
  <div class="shopping-cart">

    <div class="column-labels">
      <label class="product-image">Ảnh</label>
      <label class="product-details">Sản phẩm</label>
      <label class="product-price">Giá</label>
      <label class="product-quantity">Tổng số</label>
      <label class="product-removal">Xóa</label>
      <label class="product-line-price">Tổng cộng</label>
    </div>

    <div class="product" *ngFor="let p of productList; let i = index">
      <div class="product-image">
        <a routerLink="/product-detail/{{p.id}}">
          <img [src]="p.imageProduct">
        </a>
      </div>
      <div class="product-details">
        <a routerLink="/product-detail/{{p.id}}">
          <div class="product-title">{{p.name}}</div>
        </a>
        <p class="product-description"> {{p.maSp}}</p>
      </div>
      <div class="product-price">{{p.price | vndTransfer}}</div>
      <div class="product-quantity">
        <input type="number" value="{{p.quantity}}" min="1" [(ngModel)]="p.quantity" (change)="getData(p)">
      </div>
      <div class="product-removal">
        <button class="remove-product" (click)="removeItem(i)">
          Xóa
        </button>
      </div>
      <div class="product-line-price">{{(p.quantity * p.price)| vndTransfer}}</div>
    </div>

    <div class="totals">
      <div class="totals-item">
        <label>Tổng phụ</label>
        <div class="totals-value" id="cart-subtotal">{{priceTotal| vndTransfer}}</div>
      </div>
      <div class="totals-item">
        <label>Thuế (5%)</label>
        <div class="totals-value" id="cart-tax">{{(priceTotal * 0.05)| vndTransfer}}</div>
      </div>
      <div class="totals-item">
        <label>Phí vận chuyển</label>
        <div class="totals-value" id="cart-shipping">30,000đ</div>
      </div>
      <div class="totals-item totals-item-total">
        <label>Tổng cộng</label>
        <div class="totals-value" id="cart-total">{{priceTotal + (priceTotal * 0.05) + 30000 | vndTransfer}}</div>
      </div>
    </div>

    <button class="checkout">Checkout</button>

  </div>
</div>
<app-footer></app-footer>
