<app-navbar></app-navbar>
<div class="contact">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Liên hệ</li>
      </ol>
    </nav>
    <!---start-contact---->
    <h3>Liên hệ với chúng tôi</h3>
    <div class="section group">
      <div class="row">
        <div class="col-md-6 span_1_of_3">
          <div class="contact_info">
            <h4>Tìm chúng tôi ở đây</h4>
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.6147508904605!2d105.78334931476356!3d21.048095385987878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab2d88bb4195%3A0x3006e474cce20274!2sMilitary%20Technology%20Academy!5e0!3m2!1sen!2sus!4v1602401444992!5m2!1sen!2sus" width="100%" height="175" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              <br><small><a
              href="https://www.google.com/maps?ll=21.048095,105.785538&z=15&t=m&hl=en&gl=US&mapclient=embed&cid=3460704553985507956"
              style="color:#666;text-align:left;font-size:0.85em">Xem  bản đồ lớn</a></small>
            </div>
          </div>
          <div class="company_address">
            <h4>Thông tin doanh nghiệp :</h4>
            <p>236 Hoang Quoc Viet Street,</p>
            <p>Cau Giay dist,</p>
            <p>Ha Noi</p>
            <p>Viet Nam</p>
            <p>Phone:(+84)012345678</p>
            <p>Email: <a href="mailto:thongpv@gmail.com">thongpv@gmail.com</a></p>
            <p>Follow on: <a href="facebook.com">Facebook</a>, <a href="twitter.com">Twitter</a></p>
          </div>
        </div>
        <div class="col-md-6 span_2_of_3">
          <div class="contact-form">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
              <div>
                <span><label>Tên </label></span>
                <span><input name="name" type="text" class="textbox" formControlName="name"></span>
                <div class="text-danger" *ngIf="f.name.errors && (f.name.touched || f.name.dirty)">
                  <div *ngIf="f.name.errors.required">Tên không được để trống!</div>
                </div>
              </div>
              <div>
                <span><label>E-MAIL</label></span>
                <span><input name="email" type="text" class="textbox" formControlName="email"></span>
                <div class="text-danger" *ngIf="f.email.errors && (f.email.touched || f.email.dirty)">
                  <div *ngIf="f.email.errors.pattern">Email nhập vào không hợp lệ</div>
                </div>
              </div>
              <div>
                <span><label>Số điện thoại</label></span>
                <span><input name="phone" type="text" class="textbox" formControlName="phone"></span>
                <div class="text-danger" *ngIf="f.phone.errors && (f.phone.touched || f.phone.dirty)">
                  <div *ngIf="f.phone.errors.required">Số điện thoại không được để trống!</div>
                  <div *ngIf="f.phone.errors.minlength">Số điện thoại phải có tối thiểu 10 số</div>
                  <div *ngIf="f.phone.errors.maxlength">Số điện thoại nhập vào có tối đa 10 số</div>
                  <div *ngIf="f.phone.errors.pattern">Ký tự nhập vào không hợp lệ</div>
                </div>
              </div>
              <div>
                <span><label>Nội dung</label></span>
                <span><textarea name="content" formControlName="content"> </textarea></span>
                <div class="text-danger" *ngIf="f.content.errors && (f.content.touched || f.content.dirty)">
                  <div *ngIf="f.content.errors.required">Nội dung không được để trống!</div>
                  <div *ngIf="f.content.errors.maxlength">Nội dung nhập vào có tối đa 1000 số</div>
                </div>
              </div>
              <div>
                <span><input type="submit" class="mybutton" value="Gửi"></span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
