<app-navbar></app-navbar>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Đăng ký tài khoản</li>
    </ol>
  </nav>
  <div class="registration">
    <div class="registration_left">
      <h2>Người dùng mới? <span> tạo một tài khoản </span></h2>
      <!-- [if IE]
       < link rel='stylesheet' type='text/css' href='ie.css'/>
      [endif] -->

      <!-- [if lt IE 7]>
       < link rel='stylesheet' type='text/css' href='ie6.css'/>
      <! [endif] -->
      <div class="registration_form">
        <!-- Form -->
        <!--        <form id="registration_form" action="contact.php" method="post">-->
        <div>
          <label>
            <input placeholder="Họ " type="text" tabindex="1" name="firstName">
          </label>
        </div>
        <div>
          <label>
            <input placeholder="Tên :" type="text" tabindex="2" name="lastName">
          </label>
        </div>
        <div>
          <label>
            <input placeholder="Tên tài khoản:" type="email" tabindex="3" name="username">
          </label>
        </div>
        <div>
          <label>
            <input placeholder="Mật khẩu" type="password" tabindex="4" name="password">
          </label>
        </div>
        <div>
          <label>
            <input placeholder="Nhập lại mật khẩu" type="password" tabindex="4" name="repassword">
          </label>
        </div>
        <div>
          <label>
            <input placeholder="Số điện thoại:" type="email" tabindex="3" name="phone">
          </label>
        </div>
        <div class="sky_form1">
          <ul>
            <li><label class="radio left"><input type="radio" name="radio" checked=""><i></i>Nam</label></li>
            <li><label class="radio"><input type="radio" name="radio"><i></i>Nữ</label></li>
            <div class="clearfix"></div>
          </ul>
        </div>
        <div>
          <input type="submit" value="Tạo tài khoản" id="register-submit">
        </div>
        <!--        </form>-->
        <!-- /Form -->
      </div>
    </div>
    <div class="registration_left">
      <h2>Bạn đã có tài khoản</h2>
      <div class="registration_form">
        <!-- Form -->
        <!--        <form id="registration_form" action="contact.php" method="post">-->
        <div>
          <label>
            <input placeholder="Tên tài khoản" type="username" tabindex="3" name="username">
          </label>
        </div>
        <div>
          <label>
            <input placeholder="Mật khẩu" type="password" tabindex="4" name="password">
          </label>
        </div>
        <div>
          <input type="submit" value="Đăng nhập" id="register-submit">
        </div>
        <div class="forget">
          <a routerLink="/">Quên mật khẩu</a>
        </div>
        <!--        </form>-->
        <!-- /Form -->
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<app-footer></app-footer>
