<div class="modal-header" style="background: darkturquoise;">
  <h4 class="modal-title">Sửa User</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row">
      <form [formGroup]="userFormEdit" (ngSubmit)="onCreate()" style="width: 98%;">
        <div class="form-group">
          <label>Họ :</label>
          <input type="text" class="form-control" placeholder="Nhập vào họ..." name="firstname" formControlName="firstname">
          <div class="text-danger" *ngIf="f.firstname.errors && (f.firstname.touched || f.firstname.dirty)">
            <div *ngIf="f.firstname.errors.required">Họ không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Tên :</label>
          <input type="text" class="form-control" placeholder="Nhập vào tên..." name="lastname" formControlName="lastname">
          <div class="text-danger" *ngIf="f.lastname.errors && (f.lastname.touched || f.lastname.dirty)">
            <div *ngIf="f.lastname.errors.required">Tên không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Username :</label>
          <input type="text" class="form-control" placeholder="Nhập vào username..." name="username" formControlName="username">
          <div class="text-danger" *ngIf="f.username.errors && (f.username.touched || f.username.dirty)">
            <div *ngIf="f.username.errors.required">username không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <label>Quyền :</label>
          <select formControlName="role" name="role">
            <option [value]="1">Quản trị</option>
            <option [value]="2">Khách</option>
            <option [value]="3">Nhân viên</option>

          </select>
          <div class="text-danger" *ngIf="f.role.errors && (f.role.touched || f.role.dirty)">
            <div *ngIf="f.role.errors.required">Quyền không được bỏ trống!</div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Sửa" class="btn btn-success">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="close()">Đóng</button>
</div>
