<div class="shoping">
  <div class="container">
    <div class="shpng-grids">
      <div class="row">
        <div class="col-md-4 shpng-grid">
          <h3>Vận chuyển nhanh chóng</h3>
          <p>Đảm bảo về sản phẩm</p>
        </div>
        <div class="col-md-4 shpng-grid">
          <h3>Trả lại đơn hàng</h3>
          <p>Trả lại trong vòng 8 ngày</p>
        </div>
        <div class="col-md-4 shpng-grid">
          <h3>COD</h3>
          <p>Thanh toán khi giao hàng</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <div class="row ftr-grids">
      <div class="col-md-3 ftr-grid">
        <h4>Về chúng tôi</h4>
        <ul>
          <li><a routerLink="">Chúng tôi là</a></li>
          <li><a routerLink="/contact">Liên hệ với chúng tôi</a></li>
          <li><a routerLink="/news">Tin tức</a></li>
          <li><a routerLink="">Nghề nghiệp</a></li>
        </ul>
      </div>
      <div class="col-md-3 ftr-grid">
        <h4>Dịch vụ khách hàng</h4>
        <ul>
          <li><a routerLink="">FAQ</a></li>
          <li><a routerLink="">Vận chuyển</a></li>
          <li><a routerLink="">Hủy bỏ</a></li>
          <li><a routerLink="">Trả lại</a></li>
          <li><a routerLink="">Đơn đặt hàng số lượng lớn</a></li>
          <li><a routerLink="">Mua sắm theo phong cách</a></li>
        </ul>
      </div>
      <div class="col-md-3 ftr-grid">
        <h4>Tài khoản của bạn</h4>
        <ul>
          <li><a routerLink="/profile-user">Trang cá nhân</a></li>
          <li><a routerLink="/cart">Giỏ hàng</a></li>
          <li><a routerLink="/order">Kiểm tra checkout</a></li>
        </ul>
      </div>
      <div class="col-md-3 ftr-grid">
        <h4>Thể loại</h4>
        <ul>
<!--          <li *ngFor="let ca of categoryList"><a routerLink="/product" (click)="sendCate(ca.id)">{{ca.name}}</a></li>-->
          <li><a routerLink="/product">Trang sức</a> </li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!---->
<div class="copywrite">
  <div class="container">
    <p>Copyright © 2020 Jewelry Store. All Rights Reserved | Design by <a href="https://mail.google.com/mail">thonglv@gmail.com</a></p>
  </div>
</div>
