<app-navbar></app-navbar>
<div class="single-sec">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
        <li class="breadcrumb-item active" aria-current="page">Chi tiết sản phẩm</li>
        <li class="breadcrumb-item active" aria-current="page">{{nameProduct}}</li>
      </ol>
    </nav>
    <!-- start content -->
    <div class="row">
      <div class="col-md-12 det">
        <div class="single_left" style="border: 1px solid blanchedalmond;">
          <img style="    width: -webkit-fill-available; " src="{{productDetail.imageProduct}}"/>
        </div>
        <div class="single-right">
          <h3 style="color: #3c9ebd!important;">{{productDetail.name}}</h3>
          <div class="id"><h4>ID: {{productDetail.maSp}}</h4></div>
          <form action="" class="sky-form">
            <fieldset>
              <section>
                <div class="rating">
                  <input type="radio" name="stars-rating" id="stars-rating-5">
                  <label for="stars-rating-5"><i class="icon-star"></i></label>
                  <input type="radio" name="stars-rating" id="stars-rating-4">
                  <label for="stars-rating-4"><i class="icon-star"></i></label>
                  <input type="radio" name="stars-rating" id="stars-rating-3">
                  <label for="stars-rating-3"><i class="icon-star"></i></label>
                  <input type="radio" name="stars-rating" id="stars-rating-2">
                  <label for="stars-rating-2"><i class="icon-star"></i></label>
                  <input type="radio" name="stars-rating" id="stars-rating-1">
                  <label for="stars-rating-1"><i class="icon-star"></i></label>
                  <div class="clearfix"></div>
                </div>
              </section>
            </fieldset>
          </form>
          <div class="cost">
            <div class="prdt-cost">
              <ul>
                <li *ngIf="productDetail.codeSale">Giá gốc:
                  <del>{{productDetail.price}}</del>
                </li>
                <li>Giá đang bán:</li>
                <li class="active">{{ (productDetail.price - (productDetail.price * productDetail.codeSale))| vndTransfer}}</li>
                <div class="form-group">
                  <button class="btn btn-success" (click)="moveToOrder()">Mua ngay</button>
                  <button class="btn btn-primary" (click)="addToCart()">Thêm vào giỏ hàng</button>
                </div>
              </ul>
            </div>
            <div class="check">
              <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Nhập mã khuyến mại nếu có</p>
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nhập mã khuyến mại">
                </div>
                <button type="submit" class="btn btn-secondary">Xác nhận</button>
              </form>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="item-list">
            <ul>
              <li>Chất liệu: {{productDetail.colorName}}</li>
              <li>Loại: {{productDetail.categoryName}}</li>
              <li>Thương hiệu: {{productDetail.markName}}</li>
            </ul>
          </div>
          <div class="single-bottom1">
            <h6>Chi tiết</h6>
            <p class="prod-desc">{{productDetail.description}}</p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="sofaset-info">
          <h4>Tóm tắt sản phẩm: <strong>{{productDetail.name}}</strong> của thương hiệu <span style="color: coral">{{productDetail.markName}}</span></h4>
          <ul>
             {{productDetail.descriptionMark}}
          </ul>
        </div>
        <!---->
        <div class="product-table">
          <h3>Thông số kỹ thuật của sản phẩm : <strong>{{productDetail.name}}</strong></h3>
          <div class="item-sec">
            <h4>Tổng thể</h4>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td><p>Chất liệu</p></td>
                <td><p>Vàng</p></td>
              </tr>
              <tr>
                <td><p>Thương hiệu</p></td>
                <td><p>{{productDetail.markName}}</p></td>
              </tr>
              <tr>
                <td><p>Mã sản phẩm</p></td>
                <td><p>ID {{productDetail.maSp}}</p></td>
              </tr>
              <tr>
                <td><p>Nên dùng</p></td>
                <td><p>Đi chơi, ăn cưới hỏi,...</p></td>
              </tr>
              <tr>
                <td><p>Loại</p></td>
                <td><p>{{productDetail.categoryName}}</p></td>
              </tr>
              <tr>
                <td><p>Gợi ý cho</p></td>
                <td><p>Cặp đôi</p></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!---->
      </div>
    </div>
    <hr/>
    <h3 align="center">Sản phẩm tương tự</h3>
    <div class="arrivals">
      <div class="container title-hr">
        <div class="wrapper">
          <owl-carousel-o [options]="customOptions">
            <ng-container *ngFor="let product of productSaleList">
              <ng-template class="slide" carouselSlide [id]="product.id">
                <div class="feature-grids feature-grid jewel" >
                  <a routerLink="/product-detail/{{product.id}}"><img [src]="product.imageProduct" [alt]="product.id"/>
                    <div class="arrival-info">
                      <h4>{{product.name}}</h4>
                      <p class="pric1"><del>{{product.price | vndTransfer}}</del></p>
                      <span class="pric1"><del>Sale: </del></span>
                      <span class="disc">{{product.saleName}}</span>
                      <p>{{ (product.price - (product.price*product.codeSale))| currency:'vnd'}}</p>
                    </div>
                    <div class="viw">
                      <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Sản phẩm tương tự</a>
                    </div>
                    <div class="shrt">
                      <a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add cart</a>
                    </div>
                  </a>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<app-footer></app-footer>
