<div class="banner">
  <div class="container">
  </div>
</div>
<!---->
<div class="welcome">
  <div class="container">
    <div class="col-md-3 welcome-left">
      <h2>Chào mừng đến Jewelry Store</h2>
    </div>
    <div class="col-md-9 welcome-right">
      <h3>TẦM NHÌN VÀ SỨ MỆNH</h3>
      <p>Tầm nhìn và sứ mệnh của Jewelry Store
        Với mong muốn đưa trang sức tới mọi người, truyền tải, nhắn gửi yêu thương, Jewelry Store khởi nguồn tiếp bước thực hiện những mong muốn đó thông qua chuỗi giá trị từ trang sức.
        Slogan:

        Trang sức : Trang sức cho mọi người

        Tầm Nhìn:

        - Trở thành thương hiệu trang sức, trang sức cưới hàng đầu Đông Nam Á

        Sứ mệnh:

        - Dùng những thiết kế tinh tế, giảm đi giá trị về vật chất của trang sức, để mang đến cho người Việt một cái nhìn hoàn toàn mới về trang sức. Biến trang sức thành thứ không còn xa xỉ trong tâm trí người Việt Nam
      </p>
    </div>
  </div>
</div>
<!---->
<div class="bride-grids">
  <div class="container">
    <div class="row">
      <div class="col-md-4 bride-grid">
        <div class="content-grid l-grids" *ngFor="let d of data1">
          <a routerLink="/news-detail/{{d.id}}">
            <figure class="effect-bubba">
              <img src="{{d.image}}" alt=""/>
              <figcaption>
                <h4>{{d.title}} </h4>
                <p>{{d.thumbnails}}</p>
              </figcaption>
            </figure>
          </a>
          <div class="clearfix"></div>
          <h4 class="title-news">{{d.title}}</h4>
        </div>
      </div>
      <div class="col-md-4 bride-grid">
        <div class="content-grid l-grids">
          <img src="../../../assets/images/brid.jpg" alt=""/>

          <h3>Bridesmaid Dresses</h3>
        </div>
      </div>
      <div class="col-md-4 bride-grid">
        <div class="content-grid l-grids" *ngFor="let d of data2">
          <a routerLink="/news-detail/{{d.id}}">
            <figure class="effect-bubba">
              <img src="{{d.image}}" alt=""/>
              <figcaption>
                <h4>{{d.title}} </h4>
                <p>{{d.thumbnails}}</p>
              </figcaption>
            </figure>
          </a>
          <div class="clearfix"></div>
          <h4 class="title-news">{{d.title}}</h4>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
