<div class="featured">
  <div class="container">
    <h3>Featured Products</h3>
    <div class="row feature-grids">
      <div class="col-md-3 feature-grid jewel" *ngFor="let p of product">
        <a routerLink="/product-detail/{{p.id}}"><img src="{{p.imageProduct}}" alt=""/>
          <div class="arrival-info">
            <h4>{{p.name}}</h4>
            <p>{{p.price}}</p>
            <span class="pric1"><del>Mã Sản phẩm:</del></span>
            <span class="disc">{{p.maSp}}</span>
          </div>
          <div class="viw">
            <a routerLink="/product-detail/{{p.id}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>
          </div>
          <div class="shrt">
            <a href="product.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>
          </div></a>
      </div>
<!--      <div class="col-md-3 feature-grid">-->
<!--        <a href="product.html"><img src="../../../assets/images/f2.jpg" alt=""/>-->
<!--          <div class="arrival-info">-->
<!--            <h4>Jewellerys #1</h4>-->
<!--            <p>Rs 68000</p>-->
<!--            <span class="pric1"><del>Rs 70000</del></span>-->
<!--            <span class="disc">[10% Off]</span>-->
<!--          </div>-->
<!--          <div class="viw">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>-->
<!--          </div>-->
<!--          <div class="shrt">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>-->
<!--          </div></a>-->
<!--      </div>-->
<!--      <div class="col-md-3 feature-grid jewel">-->
<!--        <a href="product.html"><img src="../../../assets/images/f3.jpg" alt=""/>-->
<!--          <div class="arrival-info">-->
<!--            <h4>Wedding Ceramic Pot </h4>-->
<!--            <p>Rs 1200</p>-->
<!--            <span class="pric1"><del>Rs 2000</del></span>-->
<!--            <span class="disc">[10% Off]</span>-->
<!--          </div>-->
<!--          <div class="viw">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>-->
<!--          </div>-->
<!--          <div class="shrt">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>-->
<!--          </div></a>-->
<!--      </div>-->
<!--      <div class="col-md-3 feature-grid">-->
<!--        <a href="product.html"><img src="../../../assets/images/f4.jpg" alt=""/>-->
<!--          <div class="arrival-info">-->
<!--            <h4>Jewellerys #1</h4>-->
<!--            <p>Rs 12000</p>-->
<!--            <span class="pric1"><del>Rs 18000</del></span>-->
<!--            <span class="disc">[12% Off]</span>-->
<!--          </div>-->
<!--          <div class="viw">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>-->
<!--          </div>-->
<!--          <div class="shrt">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>-->
<!--          </div></a>-->
<!--      </div>-->
<!--      <div class="clearfix"></div>-->
<!--    </div>-->
<!--    <div class="row feature-grids">-->
<!--      <div class="col-md-3 feature-grid jewel">-->
<!--        <a href="product.html"><img src="../../../assets/images/p7.jpg" alt=""/>-->
<!--          <div class="arrival-info">-->
<!--            <h4>Jewellerys #1</h4>-->
<!--            <p>Rs 12000</p>-->
<!--            <span class="pric1"><del>Rs 18000</del></span>-->
<!--            <span class="disc">[12% Off]</span>-->
<!--          </div>-->
<!--          <div class="viw">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>-->
<!--          </div>-->
<!--          <div class="shrt">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>-->
<!--          </div></a>-->
<!--      </div>-->
<!--      <div class="col-md-3 feature-grid">-->
<!--        <a href="product.html"><img src="../../../assets/images/p11.jpg" alt=""/>-->
<!--          <div class="arrival-info">-->
<!--            <h4>Jewellerys #1</h4>-->
<!--            <p>Rs 12000</p>-->
<!--            <span class="pric1"><del>Rs 18000</del></span>-->
<!--            <span class="disc">[12% Off]</span>-->
<!--          </div>-->
<!--          <div class="viw">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>-->
<!--          </div>-->
<!--          <div class="shrt">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>-->
<!--          </div></a>-->
<!--      </div>-->
<!--      <div class="col-md-3 feature-grid jewel">-->
<!--        <a href="product.html"><img src="../../../assets/images/p12.jpg" alt=""/>-->
<!--          <div class="arrival-info">-->
<!--            <h4>Jewellerys #1</h4>-->
<!--            <p>Rs 12000</p>-->
<!--            <span class="pric1"><del>Rs 18000</del></span>-->
<!--            <span class="disc">[12% Off]</span>-->
<!--          </div>-->
<!--          <div class="viw">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>-->
<!--          </div>-->
<!--          <div class="shrt">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>-->
<!--          </div></a>-->
<!--      </div>-->
<!--      <div class="col-md-3 feature-grid">-->
<!--        <a href="product.html"><img src="../../../assets/images/f2.jpg" alt=""/>-->
<!--          <div class="arrival-info">-->
<!--            <h4>Jewellerys #1</h4>-->
<!--            <p>Rs 12000</p>-->
<!--            <span class="pric1"><del>Rs 18000</del></span>-->
<!--            <span class="disc">[12% Off]</span>-->
<!--          </div>-->
<!--          <div class="viw">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>-->
<!--          </div>-->
<!--          <div class="shrt">-->
<!--            <a href="product.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>-->
<!--          </div></a>-->
<!--      </div>-->
      <div class="clearfix"></div>
    </div>
  </div>
</div>
