<div class="featured">
  <div class="container title-hr">
    <h3 class="data-title">Sản phẩm nổi bật</h3>
    <div class="row feature-grids">
      <div class="col-md-3 feature-grid jewel" *ngFor="let p of product">
        <a routerLink="/product-detail/{{p.id}}"><img src="{{p.imageProduct}}" alt=""/>
          <div class="arrival-info">
            <h4>{{p.name}}</h4>
            <p>{{p.price | currency: 'vnd'}}</p>
            <span class="pric1"><strong>Mã Sản phẩm:</strong> </span>
            <span class="disc">{{p.maSp}}</span>
          </div>
          <div class="viw">
            <a routerLink="/product-detail/{{p.id}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Sản phẩm tương tự</a>
          </div>
          <div class="shrt">
            <a href="product.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add cart</a>
          </div></a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
