<div class="row">
  <div class="col-8">
    <!--    <div class="form-group">-->
    <!--      <div class="row">-->
    <!--        <div class="col-8">-->
    <!--          <input type="text" class="form-control">-->
    <!--        </div>-->
    <!--        <div class="col-4">-->
    <!--          <input type="button" class="btn btn-success" value="Tìm kiếm">-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
  <div class="col-4">
    <button class="btn btn-primary float-right" (click)="create()">Thêm mới</button>
  </div>
</div>
<p class="float-right"> Tổng số sản phầm : <span style="color: coral">{{totalItem}}</span></p>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">TT</th>
    <th scope="col">Username</th>
    <th scope="col">Tên</th>
    <th scope="col">Số điện thoại</th>
    <th scope="col">Địa chỉ</th>
    <th scope="col">Trạng thái</th>
    <th scope="col">Quyền</th>
    <th scope="col">Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ca of cateList; let i = index">
    <td scope="row">{{i+1}}</td>
    <td>{{ca.username}}</td>
    <td>{{ca.lastName}}</td>
    <td>{{ca.phone}}</td>
    <td>{{ca.address}}</td>
    <td *ngIf="ca.active" (click)="lockUser(ca.id)" style="color: coral; cursor: pointer">{{ca.active ? 'Hoạt động' : 'Khóa'}}</td>
    <td *ngIf="!ca.active" (click)="unLockUser(ca.id)" style="color: coral; cursor: pointer">{{ca.active ? 'Hoạt động' : 'Khóa'}}</td>
    <td>{{ca.userRole === 1 ? 'Quản trị' : 'Khách'}}</td>
    <td>
      <div class="form-group">
        <button class="btn btn-success" (click)="edit(ca)">Sửa</button>
        <button class="btn btn-danger" (click)="de(ca.id)">Xóa</button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<div style="margin: auto;width: 50%;padding: 10px;">
  <app-paginator (searchFunction)="fetch()" [searchObject]="categorySearch"></app-paginator>
</div>
