<div class="arrivals">
  <div class="container">
    <h3>New Arrivals</h3>
    <div class="arrival-grids">
      <ul id="flexiselDemo1">
        <li>
          <a href="product.html"><img src="../../../assets/images/a1.jpg" alt=""/>
            <div class="arrival-info">
              <h4>Fusion Black Polyester Suits</h4>
              <p>Rs 12000</p>
              <span class="pric1"><del>Rs 18000</del></span>
              <span class="disc">[12% Off]</span>
            </div>
            <div class="viw">
              <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>
            </div>
            <div class="shrt">
              <a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>
            </div></a>
        </li>
        <li>
          <a href="product.html"><img src="../../../assets/images/a2.jpg" alt=""/>
            <div class="arrival-info">
              <h4>Vogue4All White Net Gowns</h4>
              <p>Rs 14000</p>
              <span class="pric1"><del>Rs 15000</del></span>
              <span class="disc">[10% Off]</span>
            </div>
            <div class="viw">
              <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>
            </div>
            <div class="shrt">
              <a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>
            </div></a>
        </li>
        <li>
          <a href="product.html"><img src="../../../assets/images/a3.jpg" alt=""/>
            <div class="arrival-info">
              <h4>Platinum Waist Coat Set Navy</h4>
              <p>Rs 4000</p>
              <span class="pric1"><del>Rs 8500</del></span>
              <span class="disc">[45% Off]</span>
            </div>
            <div class="viw">
              <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>
            </div>
            <div class="shrt">
              <a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>
            </div></a>
        </li>
        <li>
          <a href="product.html"> <img src="../../../assets/images/a4.jpg" alt=""/>
            <div class="arrival-info">
              <h4>La Fanatise White Net Gowns</h4>
              <p>Rs 18000</p>
              <span class="pric1"><del>Rs 21000</del></span>
              <span class="disc">[8% Off]</span>
            </div>
            <div class="viw">
              <a href="#"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Quick View</a>
            </div>
            <div class="shrt">
              <a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Shortlist</a>
            </div></a>
        </li>
      </ul>
      <script type="text/javascript">
        $(window).load(function() {
          $("#flexiselDemo1").flexisel({
            visibleItems: 4,
            animationSpeed: 1000,
            autoPlay: true,
            autoPlaySpeed: 3000,
            pauseOnHover:true,
            enableResponsiveBreakpoints: true,
            responsiveBreakpoints: {
              portrait: {
                changePoint:480,
                visibleItems: 1
              },
              landscape: {
                changePoint:640,
                visibleItems: 2
              },
              tablet: {
                changePoint:768,
                visibleItems: 3
              }
            }
          });
        });
      </script>
      <script type="text/javascript" src="../../../assets/js/jquery.flexisel.js"></script>
    </div>
  </div>
</div>
