<div class="arrivals">
  <div class="container title-hr">
    <h3 class="data-title">Hot sale</h3>
    <div class="wrapper">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let product of productSaleList">
          <ng-template class="slide" carouselSlide [id]="product.id">
            <div class="feature-grids feature-grid jewel" >
                <div class="arrival-info">
                  <a routerLink="/product-detail/{{product.id}}"><img [src]="product.imageProduct" [alt]="product.id"/>
                    <h4>{{product.name}}</h4>
                  </a>
                  <p class="pric1"><del>{{product.price | vndTransfer}}</del></p>
                  <span class="pric1"><del>Sale: </del></span>
                  <span class="disc">{{product.saleName}}</span>
                  <p>{{ (product.price - (product.price*product.codeSale))| vndTransfer}}</p>
                </div>
                <div class="viw">
                  <a routerLink="/product-detail/{{product.id}}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Chi tiết sản phẩm</a>
                </div>
                <div class="shrt" (click)="sendCart(product, product.price - (product.price*product.codeSale))" style="cursor: pointer;">
                  <a style="cursor: pointer;color: rgba(149, 148, 148, 0.81) !important;"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>Add cart</a>
                </div>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
